
<div class="home">

  <h1 class="big">
    <span class="one">S</span><span class="two">h</span><span class="three">m</span><span class="one">o</span><span class="two">o</span><span class="three">g</span><span class="four">l</span><span class="two">e</span>
  </h1>

  <br>

  <div class="searchbox">
    <form method="link" action="results.html">
      <input type="search" name="searchies">
      <input type="submit" value="Search" />
    </form>
  </div>

</div>

