
<div class="results">

<a class="result-title" href="http://www.shmoogle.com">Awesome Fake Result of Awesome</a>
<p class="result-url">www.awesomesauce.com</p>
<p class="result-description">Something that is more awesome than awesome. Super awesome sauce awesome awesome awesome.</p>
<br>
<a class="result-title" href="http://www.shmoogle.com">AwesomeSuperCrazyAwesome on Twitter</a>
<p class="result-url">www.twitter.com/ThatsSoAwesome</p>
<p class="result-description">This is the most awesome super awesome conversation on the Twitter Googleverse.</p>
<br>
<a class="result-title" href="http://www.shmoogle.com">Reddit r/awesome</a>
<p class="result-url">www.reddit.com/r/awesome</p>
<p class="result-description">Reddits full of awesome.</p>
<br>
<a class="result-title" href="http://www.shmoogle.com">Fark</a>
<p class="result-url">www.fark.com</p>
<p class="result-description">Haha...just kidding, Fark is no longer awesome.</p>
<br>
<a class="result-title" href="http://www.shmoogle.com">The Awesome: CATS</a>
<p class="result-url">www.catsareawesome.com</p>
<p class="result-description">The entire Internet agrees: cats are awesome. So why wouldn't you think so too? Cats are the most awesome.</p>

</div>
