/* Base Styles */

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -32px;
}

.wrapper:after {
  content: "";
  display: block;
}

/* Navigation */

.navigation-container {
  border-bottom: 1px solid #000000;
  background: #2d2d2d;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav > li {
  display: inline-block;
}

.nav > li > a {
  display: block;
  padding: 10px;
  color: #bbbbbb;
  text-decoration: none;
}

.nav > li > .active,
.nav > li > a:hover {
  color: #ffffff;
}

/* Search */

.search-container {
  border-bottom: 1px solid #FDFDFD;
  background: #F4F4F4;
  padding: 15px 10px;
}

/* Filters */

.filters-container {
  border-bottom: 2px solid #F4F4F4;
  background: #FFFFFF;
}

.filter {
  padding: 0 0 0 75px;
  margin: 0;
  list-style: none;
}

.filter > li {
  display: inline-block;
}

.filter > li > a {
  display: block;
  padding: 10px;
  color: grey;
  text-decoration: none;
}

.filter > li > a:hover {
  color: black;
}

.filter > li > .active {
  color: red;
  border-bottom: 2px solid red;
}

.filter > li:first-child > a:hover {
  color: red;
}

/* Main */

/* Homepage */

.home {
  text-align: center;
  margin: 112px 0 0 0;
}

.home > .big {
  font-size: 60px;
  font-family: garamond;
  font-weight: bold;
}

.home > span {
  font-size: 60px;
  font-family: garamond;
  font-weight: bold;
}

.one {
  color: #164CF6;
}

.two {
  color: #E42630;
}

.three {
  color: #F1A116;
}

.four {
  color: #008E1C;
}

.home > .searchbox
  {
    text-align: center;
  }

/* Results Page */

.results {
  padding: 30px 0 30px 75px;
  width: 540px;
}

.result-title {
  font-size: 18px;
}

.result-url {
  color: #59A75B;
}

/* Footer */

.footer-container, .wrapper:after {
  height: 32px;
}

.footer-container {
  border-top: 2px solid #F4F4F4;
  background: #F4F4F4;
}

.footer {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  font-size: 12px;
}

.footer > li {
  display: inline-block;
}

.footer > li > a {
  display: block;
  padding: 10px;
  color: grey;
  text-decoration: none;
}

.footer > li > a:hover {
  text-decoration: underline;
}


