<!DOCTYPE html>
<html>
<head>
  <title>Shmoogle Moogle</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

</head>
  <body>
    <div class="wrapper">
      <div class="navigation-container">
        <ul class="nav">
          <li>
            <a class="active" href="#">+You</a>
          </li>
          <li>
            <a href="index.html">Search</a>
          </li>
          <li>
            <a href="#">Images</a>
          </li>
          <li>
            <a href="#">Maps</a>
          </li>
          <li>
            <a href="#">Play</a>
          </li>
          <li>
            <a href="#">YouTube</a>
          </li>
          <li>
            <a href="#">News</a>
          </li>
          <li>
            <a href="#">Gmail</a>
          </li>
          <li>
            <a href="#">Drive</a>
          </li>
          <li>
            <a href="#">Calendar</a>
          </li>
        </ul>
      </div>

      <div class="search-container">
      <form method="link" action="results.html">
        <label>Shmoogle</label>
        <input type="search" name="search">
        <input type="submit" value="Search">

      </form>
      </div>

      <div class="filters-container">
      <ul class="filter">
        <li>
          <a class="active" href="#">Web</a>
        </li>
        <li>
          <a class="nonactive" href="#">Images</a>
        </li>
        <li>
          <a class="nonactive" href="#">Maps</a>
        </li>
        <li>
          <a class="nonactive" href="#">Shopping</a>
        </li>
        <li>
          <a class="nonactive" href="#">News</a>
        </li>
        <li>
          <a class="nonactive" href="#">More</a>
        </li>
        <li>
          <a class="nonactive" href="#">Search tools</a>
        </li>
      </ul>
      </div>

      <div class="main-container">
      <!-- Where page specific content will be inserted -->
        <%= yield %>
        <div class="push"></div>
      </div>

    </div>

      <div class="footer-container">
        <ul class="footer">
          <li>
            <a href="#">Advertising Programs</a>
          </li>
          <li>
            <a href="#">Business Solutions</a>
          </li>
          <li>
            <a href="#">Privacy & Terms</a>
          </li>
          <li>
            <a href="#">+Google</a>
          </li>
          <li>
            <a href="#">About Google</a>
          </li>
        </ul>
      </div>


  </body>
</html>
